.inputSizer {
	display: inline-grid;
	vertical-align: top;
	align-items: center;
	position: relative;
	width: 100%;
	border-width: 0px;
	padding: 0.25em 0.5em;
	margin: 0px;
	background-color: #f6f8fa;
}
.inputSizer.stacked {
	padding: 0.5em;
	align-items: stretch;
}
.inputSizer::after,
input,
textarea {
	grid-area: 2 / 1;
}

.inputSizer::after,
textarea {
	width: auto;
	min-width: 1em;
	font: inherit;
	padding: 0.25em;
	margin: 0;
	resize: none;
	background: none;
	appearance: none;
	border: none;
}

.inputSizer::after {
	content: attr(data-value) ' ';
	visibility: hidden;
	white-space: pre-wrap;
}

.inputSizer > textarea:focus,
input:focus {
	outline: none;
}
