.codeBlockContainer,
.playgroundContainer {
	border-radius: var(--ifm-global-radius);
	box-shadow: var(--ifm-global-shadow-lw);
	margin-bottom: var(--ifm-leading);
	overflow: hidden;
}

.playgroundHeader {
	background: var(--ifm-color-emphasis-200);
	color: var(--ifm-color-content);
	font-size: var(--ifm-code-font-size);
	font-weight: 700;
	letter-spacing: 0.08rem;
	padding: 0.75rem;
}

.playgroundHeader:first-of-type {
	background: var(--ifm-color-emphasis-600);
	color: var(--ifm-color-content-inverse);
}

.docItemContainer article :first-child,
.docItemContainer header + *,
.pills__item + .pills__item {
	margin-top: 0;
}

.playgroundEditor {
	direction: ltr;
	font: var(--ifm-code-font-size) / var(--ifm-pre-line-height)
		var(--ifm-font-family-monospace) !important;

	position: relative;
	text-align: left;
	box-sizing: border-box;
	padding: 0;
	overflow: hidden;
	white-space: pre;
	font-family: monospace;
	color: #393a34;
	background-color: #f6f8fa;
}

.playgroundEditor > textarea {
	-webkit-text-fill-color: inherit !important;

	margin: 0;
	border: 0;
	background: none;
	box-sizing: inherit;
	display: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-variant-ligatures: inherit;
	font-weight: inherit;
	letter-spacing: inherit;
	line-height: inherit;
	tab-size: inherit;
	text-indent: inherit;
	text-rendering: inherit;
	text-transform: inherit;
	white-space: pre-wrap;
	word-break: keep-all;
	overflow-wrap: break-word;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	resize: none;
	color: inherit;
	overflow: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-text-fill-color: transparent;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
